<p id="notice"><%= notice %></p>

<h1>Listing Peliculas</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Ano</th>
      <th>Genero</th>
      <th>Director</th>
      <th>Duracion</th>
      <th>Idioma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @peliculas.each do |pelicula| %>
      <tr>
        <td><%= pelicula.Titulo %></td>
        <td><%= pelicula.ano %></td>
        <td><%= pelicula.Genero %></td>
        <td><%= pelicula.Director %></td>
        <td><%= pelicula.Duracion %></td>
        <td><%= pelicula.Idioma %></td>
        <td><%= link_to 'Show', pelicula %></td>
        <td><%= link_to 'Edit', edit_pelicula_path(pelicula) %></td>
        <td><%= link_to 'Destroy', pelicula, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pelicula', new_pelicula_path %>
